<footer class="siteFooter">
    <div class="social-links">
        <a href="#" class="social-icon" onclick="alert('We are still working on the Facebook page.');"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a href="#" class="social-icon" onclick="alert('We are still working on the Instagram page.');"><i class="fab fa-instagram"></i> Instagram</a>
        <a href="#" class="social-icon" onclick="alert('We are still working on the Twitter page.');"><i class="fab fa-twitter"></i> Twitter</a>
    </div>
    <p>&copy; The Yoga Spot 2024</p>
</footer>